*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

footer{
    height: 60px;
    width: 100%;
    background: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #4b4b4b;
}



nav{
    position: fixed;
    width: 100%;
    background: #ebebeb;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 5px #606060;
}

nav>div{

    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    width: 100%;
}

#nav-tab{
    display: flex;
    gap: 30px;
}

#nav-tab>div{
    display: flex;
}

#nav-tab a{
    text-decoration: none;
    color: #131313;
    font-size: 18px;
    padding: 8px;
    display: flex;
    gap: 4px;
}

#nav-tab img{
    width: 20px;
}

#hero{
    padding-top: 100px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 53px;
}

section{
    /* min-height: 100vh; */
    min-width: 100%;
    max-width: 100%;
}

.hero-text{
    margin-top: 160px;
    margin-left: 60px;
    width: 600px;
}

.rotate{
    transform: rotate("90deg");
}
.hero-text>h1{
    font-size: 50px;
    color: #2f2f2f;
}

.hero-text>h1>span{
    
    color: #4187f2;
}
.hero-text>p{
    font-size: 20px;
    color: #686868;
    margin-top: 18px;
}

#hero>img{
    width: 56%;
    height: 50%;
    border-radius: 150px 0px 0px 350px;
    border-top: 8px solid silver;
    border-bottom: 8px solid silver;
    border-left: 8px solid silver;
}

#employee-section{
    background: #efefef;
    width: 100%;
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.employee-full{
    margin-top: 45px;
    /* margin-bottom: 45px; */
    padding-bottom: 45px;
    width: 100%;
    height: 100%;
    background: #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collapse{
    height: 80px;
    background: #d4d4d4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    width: calc(100% - 200px);
    border-bottom: 5px solid rgb(174, 174, 174);
}

.collapse>span{
    font-size: 25px;
    font-weight: bold;
}

.collapse>img{
    width: 40px;
}

.employee-full>img{
    margin-left: 80px;
    height: 40%;
    width: 40%;
}

.employee-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section{
    display: flex;
    flex-direction: column;
    margin-right: 180px;

}

.form-section>h2{
    font-size: 45px;
    color: #464646;
}

.input-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.input-div>label{
    color: #424242;
}

.input-div>input{
    width: 350px;
    height: 25px;
    background: transparent;
    border: 2px 2px 2px 2px solid #2f2f2f;
    border-radius: 10px;
    padding: 8px;
    font-size: 20px;
    box-shadow: 2px 4px 2px #414141;
    
}

.submission-btn{
    width: 250px;
    height: 40px;
    margin-top: 20px;
    background: #4187f2;
    color: #f9f9f9;
    border-radius: 14px;
    font-size: 15px;
}

.submission-btn:hover{
    cursor:pointer;
    box-shadow: inset 2px 2px 4px #2f2f2f;
    
}

#vehicle-full{
    box-sizing: border-box;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    padding: 80px 0px 80px 100px;
}

#vehicle-full>img{
    width: 650px;
}

#feedback-section{
    width: 100%;
    min-height: calc(100vh - 80px);
    background: #4187f2;
    border-radius: 65px 65px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 16px 0px;
}

#feedback-section>div{
    width: 40%;
    min-height: 90%;
    background: #fcfdff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px ridge silver;
    box-sizing: border-box;
    padding: 18px 0px;
}

#feedback-section>div>h2{
    font-size: 40px;
    color: #414141;
}

#feedback-section input{
    background: whitesmoke;
    width: 450px;
}

.input-textarea{
    display: flex;
    flex-direction: column;
}

.input-textarea>textarea{
    width: 450px;
    border: 2px solid #2f2f2f;
    border-radius: 10px;
    padding: 8px;
    font-size: 20px;
    box-shadow: 2px 4px 2px #414141;
    height: 180px;

}

#feedback-btn{
    background-color: #3cf148;
    width: 350px;
    height: 40px;
    margin-top: 30px;
    border-radius: 23px;
    font-size: 16px;
    font-weight: 600;
}

#pricing-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

#pricing-section>div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}

#pricing-section>h2{
    color: rgb(104, 104, 104);
    font-size: 50px;
}

.pricing-card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background: rgb(239, 239, 239);
    box-sizing: border-box;
    padding: 15px;
    align-items: center;
    border-radius: 20px;
    border: 5px solid #7c7c7c;
}

.pricing-card>span{
    padding: 4px;
}

.pricing-card>.card-title{
    color: rgb(93, 93, 93);
    font-size: 25px;
    background: transparent;
}

.pricing-card>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 80px;
    background: #3cf148;
    border-radius: 100%;
    font-size: 18px;
    justify-content: center;
    margin-bottom: 8px;
    border: 5px solid silver;
}

.pricing-card>button{
    padding: 8px;
    background: #4187f2;
    color: #fff;
    border-radius: 12px;
    margin-top: 5px;
}

.radio-input{
    display: flex;
    flex-direction: column;
    align-self: first baseline;
}

.radio-input>div{
    display: flex;
    gap: 10px;
}

.radio-input>div>div{
    display: flex;
    align-items: center;
    gap: 7px;
}

.radio-input div>label{
    font-size: 18px;
}

.radio-input input[type="radio" i]{
    background: #000;
    padding: 10px;
    width: 20px;
    height: 20px;
}