*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.text-normal{
    color: #2d3b48;
}

.bg-accent{
    background: #5b6be8;
    color: white;
}

.text-accent{
    color: #5b6be8;
}

.bg-secondary-accent{
    background: #e7e9fc;
}

.a-badge{
    font-size: 13px;
    height: fit-content;
    width: 25px;
    height: 18px;
    border-radius: 10px;
    padding: 2px 3px;
}

.btn{
    background: #ffffff;
    border-radius: 0px !important;
    border: 0px !important;
}

.btn:active{
    border-radius: 0px;
    color: #5b6be8;
}
.btn:hover{
    color: #5b6be8 !important;
}

.link-hover:hover{
    color: #5b6be8 !important;
}

.collapsible-elem{
    display: none;
    flex-direction: column !important;
}

.c-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ffffff;
    background-color: transparent;
}

.c-scroll::-webkit-scrollbar {
    width: 5px;
    background-color: #ffffff;
}

.c-scroll::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 20px;
}

.background-primary{
    background: #eff3f6;
    color: #212529;
}

.bg-tert{
    background: #6d7beb;
    color: #e7e9fc;
}

#searchbar{
    width: fit-content;
 position: relative;
}
#searchbar>a{
    color: #e7e9fc;
 position: absolute;
 right: 16px;
 top: 20px;
 opacity: 50%;
}

#searchbar>input{
    border: 0px;
    width: 200px;
}
#searchbar>input::placeholder{
    color: #e7e9fc;
}
#searchbar>input:focus{
    outline: none;
    border: 0px;
}

.navbtn{
    background: transparent;
    border: 0px;
    color: white;
}

.navopt{
    position: relative;
}

.navopt>div{
    display: none;
    flex-direction: column;
    background: #ffffff;
    position: absolute;
    bottom: -1;
    right: 0px;
}

.navopt>div>button{
    color: #212529;
}

.message-notification{
    width: 250px;

}

.message-grp>div:nth-child(1){
    width: 40px;
    height: 40px;
    border: 100%;
    background: #767676;
}

.message-grp>div:nth-child(2){
    width: 170px;
}
.message-grp>div:nth-child(2)>div:nth-child(2){
    font-size: 12px;
}

.message-grp{
    /* padding: 2px 30px; */
    width: 250px;
    height: 60px;
}

.profile{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: #e2e2e2;
}


@media (min-width: 576px) {
    .position-sm-static {
      position: static !important;
    }
    .position-sm-relative {
      position: relative !important;
    }
    .position-sm-absolute {
      position: absolute !important;
    }
    .position-sm-fixed {
      position: fixed !important;
    }
    .position-sm-sticky {
      position: sticky !important;
    }
  }
  
  @media (min-width: 768px) {
    .position-md-static {
      position: static !important;
    }
    .position-md-relative {
      position: relative !important;
    }
    .position-md-absolute {
      position: absolute !important;
    }
    .position-md-fixed {
      position: fixed !important;
    }
    .position-md-sticky {
      position: sticky !important;
    }
  }


#donut-chart{
    width: 100%;
}

.tweeter-bg{
    background: #40a4f1 !important;
}

.facebook-bg{
    background-color: #5b6be8 !important;
    color: white !important;
}
.text-fb{
    color: #5b6be8 !important;
}

.text-star{
    color: #f5b225;
}

.footer-bg{
    background: #f9f9f9;
}

main>div:nth-child(1){
    z-index: 4;
}
main>div:nth-child(2){
    z-index: 1;
}

#side-close{
    z-index: 5;
}